<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
  </configSections>
  <databaseConnections>
    <databases>
      <add name="test">
        <sources>          
          <add runat="MIDEV01" server="MIDEV01" database="CECommonData" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CECommonData" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
          <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CECommonData" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="CECommonData" user="adminuser" password="Bu1ld" />
          <add runat="SRV03" server="SRV03" instance="PROD" database="CECommonData" user="adminuser" password="Pr0d" />
        </sources>
      </add>
      <add name="master">
        <sources>          
          <add runat="MIDEV01" server="MIDEV01" database="master" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="master" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
          <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="master" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="master" user="adminuser" password="Bu1ld" />
          <add runat="SRV03" server="SRV03" instance="PROD" database="master" user="adminuser" password="Pr0d" />
        </sources>
      </add>		
    </databases>
  </databaseConnections>
</configuration>

