<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
  </configSections>
  <databaseConnections>
    <databases>
      <add name="test" provider="Codentia.Common.Data.Provider.SqlServerConnectionProvider,Codentia.Common.Data">
        <sources>
          <add runat="CEDEV01" server="CEDEV01" database="CECommonData" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" integratedsecurity="false" />
          <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CECommonData" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" integratedsecurity="false" />
          <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CECommonData" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" integratedsecurity="false" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="CECommonData" user="adminuser" password="Bu1ld" integratedsecurity="false" />
          <add runat="SRV03" server="SRV03" instance="PROD" database="CECommonData" user="adminuser" password="Pr0d" integratedsecurity="false" />
        </sources>
      </add>
      <add name="test_mysql" provider="Codentia.Common.Data.Provider.MySqlConnectionProvider,Codentia.Common.Data">
        <sources>
          <add runat="CEDEV01" server="CEDEV01" database="CECommonData" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        </sources>
      </add>
      <add name="master" provider="Codentia.Common.Data.Provider.SqlServerConnectionProvider,Codentia.Common.Data">
        <sources>
          <add runat="CEDEV01" server="CEDEV01" database="master" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" integratedsecurity="false" />
          <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="master" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" integratedsecurity="false" />
          <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="master" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" integratedsecurity="false" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="master" user="adminuser" password="Bu1ld" integratedsecurity="false" />
          <add runat="SRV03" server="SRV03" instance="PROD" database="master" user="adminuser" password="Pr0d" integratedsecurity="false" />
        </sources>
      </add>
      <add name="master_mysql" provider="Codentia.Common.Data.Provider.MySqlConnectionProvider,Codentia.Common.Data">
        <sources>
          <add runat="CEDEV01" server="CEDEV01" database="" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        </sources>
      </add>
    </databases>
  </databaseConnections>
</configuration>

