<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data"/>
  </configSections>
  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="MasterSlave">
          <Servers>
            <Server name="db01" IsMaster="true" connectionstring=" server=CEDEV01;uid=adminuser;password=E67F2501-00C6-4AD4-8079-00216831AECC;"/>
            <Server name="db02" IsMaster="false" connectionstring=" server=CEDEV01;port=adminuser;uid=adminuser;password=E67F2501-00C6-4AD4-8079-00216831AECC;"/>
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>
  <databaseConnections>
    <databases>
      <add name="test" provider="Codentia.Common.Data.Provider.SqlServerConnectionProvider,Codentia.Common.Data">
        <sources>
            <add runat="Matts-MBP.lan" server="127.0.0.1" database="CECommonData" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" integratedsecurity="false" />
		<add runat="CEDEV01" server="CEDEV01" database="CECommonData" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" integratedsecurity="false" />
          <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CECommonData" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" integratedsecurity="false" />
          <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CECommonData" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" integratedsecurity="false" />
          <add runat="TEST01" server="TEST01" instance="DEVELOPMENT" database="CECommonData" user="adminuser" password="D3v3l0pm3nt" />
        </sources>
      </add>
      <add name="test_mysql" provider="Codentia.Common.Data.Provider.MySqlConnectionProvider,Codentia.Common.Data">
        <sources>
            <add runat="Matts-MBP.lan" server="127.0.0.1" database="cecommondata" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="CEDEV01" server="CEDEV01" database="cecommondata" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="SRV02" server="SRV02" database="cecommondata" user="adminuser" password="Bu1ld" />
          <add runat="TEST01" server="TEST01" database="CECommonData" user="adminuser" password="D3v3l0pm3nt" />
        </sources>
      </add>
      <add name="test_mysql_multi" provider="Codentia.Common.Data.Provider.MySqlConnectionProvider,Codentia.Common.Data">
        <sources>
            <add runat="Matts-MBP.lan" server="127.0.0.1,127.0.0.1" database="cecommondata" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="CEDEV01" server="CEDEV01, CEDEV01" database="cecommondata" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="SRV02" server="SRV02,SRV02" database="cecommondata" user="adminuser" password="Bu1ld" />
        </sources>
      </add>
      <add name="master" provider="Codentia.Common.Data.Provider.SqlServerConnectionProvider,Codentia.Common.Data">
        <sources>
          <add runat="CEDEV01" server="CEDEV01" database="master" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" integratedsecurity="false" />
          <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="master" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" integratedsecurity="false" />
          <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="master" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" integratedsecurity="false" />
          <add runat="TEST01" server="TEST01" instance="DEVELOPMENT" database="master" user="adminuser" password="D3v3l0pm3nt" />
        </sources>
      </add>
      <add name="master_mysql" provider="Codentia.Common.Data.Provider.MySqlConnectionProvider,Codentia.Common.Data">
        <sources>
          <add runat="CEDEV01" server="CEDEV01" database="" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="SRV02" server="SRV02" database="" user="adminuser" password="Bu1ld" />
          <add runat="TEST01" server="TEST01" database="" user="adminuser" password="D3v3l0pm3nt" />
        </sources>
      </add>
    </databases>
  </databaseConnections>
</configuration>

